@font-face {
    font-family: "Ovink";
    src: url("//db.onlinewebfonts.com/t/33f1a2305633401f3215aa8c82874cf7.eot");
    src: url("//db.onlinewebfonts.com/t/33f1a2305633401f3215aa8c82874cf7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/33f1a2305633401f3215aa8c82874cf7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/33f1a2305633401f3215aa8c82874cf7.woff") format("woff"), url("//db.onlinewebfonts.com/t/33f1a2305633401f3215aa8c82874cf7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/33f1a2305633401f3215aa8c82874cf7.svg#Ovink") format("svg");
}

@font-face {
    font-family: "Ovink-SB";
    src: url("//db.onlinewebfonts.com/t/2a4f94673512e9a6ec0ba5e7efc35314.eot");
    src: url("//db.onlinewebfonts.com/t/2a4f94673512e9a6ec0ba5e7efc35314.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2a4f94673512e9a6ec0ba5e7efc35314.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2a4f94673512e9a6ec0ba5e7efc35314.woff") format("woff"), url("//db.onlinewebfonts.com/t/2a4f94673512e9a6ec0ba5e7efc35314.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2a4f94673512e9a6ec0ba5e7efc35314.svg#Ovink") format("svg");
}

$ovink: 'Ovink',
Calibri,
Optima,
Arial,
sans-serif;
$ovink-SB: 'Ovink',
Calibri,
Optima,
Arial,
sans-serif;