/*      ./assets/sass/dart-sass/sass assets/sass/style.scss assets/css/style.css --watch */

@import "./utils/reset.scss";

/* ====================== E N D   R E S E T ================= */

@import "./utils/variables";
@import "./bases/fonts";
@import "./layouts/header";
@import "./pages/index";
@import "./layouts/footer";

/* ================================================= */


/* ================= M E N U ======================= */


/* ================================================= */

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    height: auto;
    .selection-head {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        h1 {
            font: 1.5em 'Ovink', Calibri, Optima, Arial, sans-serif;
        }
        i {}
    }
    /* ==========*/
    .selection-part {
        h2 {}
        .starter {
            .details {
                display: flex;
            }
        }
    }
}