$background-primary: #FFFFFF;
$background-secondary: #F6F6F6;
$background-secondary-heavy: #EAEAEA;
$primary-dark: #353535;
$buttons: #B862DB;
$dish-selection-validate: #8EDEC9;
$operation-number-color: #9356DC;
$step-info-hover: #F5EDFF;
$underline: #99E2D0;
$font-light: #F4EFFB;
$test: #1818;

/*refacto nom couleurs*/


/*=============================== B O X S ==================================*/

$rounded-border: 20px 20px 20px 20px;
$box-shadow: 0px 3px 5px rgba(0, 0, 0.5, 0.5);

/*=============================== M I X I N S ==================================*/

@mixin button {
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: thin solid $buttons;
    background-color: $buttons;
    box-shadow: $box-shadow;
    color: $background-primary;
    border-radius: 35px 35px 35px 35px;
}


/* type de boutton ? (validation/recherche..etc)*/

@mixin index-title {
    align-self: flex-start;
    font-family: $shrikhand;
    font-size: 1.9em;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 4%;
}


/* Et une fonction ?? */