/*      ./assets/sass/dart-sass/sass assets/sass/style.scss assets/css/style.css --watch */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ====================== E N D   R E S E T ================= */
@font-face {
  font-family: "Ovink";
  src: url("../fonts/Ovink W00 Medium/33f1a2305633401f3215aa8c82874cf7.eot");
  /* IE9*/
  src: url("../fonts/Ovink W00 Medium/33f1a2305633401f3215aa8c82874cf7.eot?#iefix") format("embedded-opentype"), url("../fonts/Ovink W00 Medium/33f1a2305633401f3215aa8c82874cf7.woff2") format("woff2"), url("../fonts/Ovink W00 Medium/33f1a2305633401f3215aa8c82874cf7.woff") format("woff"), url("../fonts/Ovink W00 Medium/33f1a2305633401f3215aa8c82874cf7.ttf") format("truetype"), url("../fonts/Ovink W00 Medium/33f1a2305633401f3215aa8c82874cf7.svg#Ovink W00 Medium") format("svg");
  /* iOS 4.1- */
}
@font-face {
  font-family: "Ovink-SemiBold";
  src: url("../fonts/Ovink W00 SemiBold/2a4f94673512e9a6ec0ba5e7efc35314.eot");
  /* IE9*/
  src: url("../fonts/Ovink W00 SemiBold/2a4f94673512e9a6ec0ba5e7efc35314.eot?#iefix") format("embedded-opentype"), url("../fonts/Ovink W00 SemiBold/2a4f94673512e9a6ec0ba5e7efc35314.woff2") format("woff2"), url("../fonts/Ovink W00 SemiBold/2a4f94673512e9a6ec0ba5e7efc35314.woff") format("woff"), url("../fonts/Ovink W00 SemiBold/2a4f94673512e9a6ec0ba5e7efc35314.ttf") format("truetype"), url("../fonts/Ovink W00 SemiBold/2a4f94673512e9a6ec0ba5e7efc35314.svg#Ovink W00 SemiBold") format("svg");
  /* iOS 4.1- */
}
/* =============== H E A D E R =================== */
header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
header .logo {
  text-align: center;
  width: 50%;
}

/* ====================== I N D E X =====================*/
html {
  width: 100%;
}

body {
  width: 100%;
  background-color: #FFFFFF;
  font-family: sans-serif;
}

#page {
  width: 100%;
  height: 100%;
}

/* =============== S E A R C H ==================== */
.search {
  width: 100%;
  height: 55px;
  display: flex;
  background-color: #EAEAEA;
  align-items: center;
}

.search-input {
  display: flex;
  padding-left: 28%;
  width: 100%;
}
.search-input .location {
  width: 26px;
}
.search-input .search {
  height: 100%;
  width: 100%;
  align-self: center;
  text-align: left;
  background-color: #EAEAEA;
  font: 1.2em "Ovink", Calibri, Optima, Arial, sans-serif;
  border: none;
  outline: none;
}

/* =============== E X P L O R E ================= */
.explore {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  /**/
  /**/
  /**/
}
.explore-title {
  width: 70%;
  font: 1.5em "Ovink", Calibri, Optima, Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.explore-description {
  width: 90%;
  font: 1.2em "Ovink", Calibri, Optima, Arial, sans-serif;
  color: #515151;
  margin-bottom: 20px;
}
.explore-btn {
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  border: thin solid #B862DB;
  background-color: #B862DB;
  color: #FFFFFF;
  border-radius: 35px 35px 35px 35px;
  margin-bottom: 30px;
}

/* =============== O P E R A T I O N ============== */
.operation {
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  /**/
}
.operation-title {
  align-self: flex-start;
  font: 1.5em "Ovink", Calibri, Optima, Arial, sans-serif;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 4%;
}

.operation-step {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.operation-step .step-number {
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #B862DB;
  position: relative;
  margin-right: 30px;
}
.operation-step .step-info {
  height: 70px;
  width: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}

/* ================ R E S T A U R A N T ============ */
.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  /**/
}
.restaurant-title {
  align-self: flex-start;
  font: 1.5em "Ovink", Calibri, Optima, Arial, sans-serif;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 4%;
}

.restaurant-card {
  height: 300px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.card-figure {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 63%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0.6em 0 0.8em rgba(168, 164, 141, 0.2);
  align-items: center;
  /**/
}
.card-figure-image {
  display: block;
  align-self: center;
  width: 100%;
  position: relative;
}

.card-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  height: 30%;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
  box-shadow: 0.1em 0 0.7em rgba(168, 164, 141, 0.2);
}
.card-content-icon {
  align-self: center;
}

footer {
  background-color: #353535;
  color: #FFFFFF;
}

/* ================================================= */
/* ================= M E N U ======================= */
/* ================================================= */
.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px 50px 50px 50px;
  height: auto;
  /* ==========*/
}
.selection .selection-head {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.selection .selection-head h1 {
  font: 1.5em "Ovink", Calibri, Optima, Arial, sans-serif;
}
.selection .selection-part .starter .details {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
