<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/f3f35fcc4e.js" crossorigin="anonymous"></script>

    <title>Ohmyfood</title>
</head>

<body>
    <header>
        <img src="../assets/images/logos/ohmyfood.png" alt="ohmyfood-logo">

    </header>
    <section class="search">
        <div class="search-input">
            <img src="../assets/images/logos/location-icon.png" alt="location-icon">
            <input type="text" value="Paris, Belleville" placeholder="Paris, Belleville" id="input-location">
        </div>
    </section>

    <section class="explore">
        <h1>Réservez le menu qui vous convient</h1>
        <h2>Découvrez des restaurants d'exeption, séléctionnés par nos soins</h2>

        <a href="#">Explorez nos restaurants</a>
    </section>

    <section class="operation">

        <h1>Fonctionnement</h1>

        <div class="step">
            <div class="step-number">1</div>
            <div class="step-info">
                <i class="fa-solid fa-mobile-screen-button">&#xf3cd;</i>
                <p>Choisissez un restaurant</p>
            </div>

        </div>
        <div class="step">
            <div class="step-number">1</div>
            <div class="step-info">
                <i class="fa-solid fa-mobile-screen-button">&#xf3cd;</i>
                <p>Composez votre menu</p>
            </div>
        </div>
        <div class="step">
            <div class="step-number">1</div>
            <div class="step-info">
                <i class="fa-solid fa-mobile-screen-button">&#xf3cd;</i>
                <p>Dégustez au restaurant</p>
            </div>
        </div>
    </section>

    <section class="restaurant">

        <h1>Resataurant</h1>

        <div class="restaurant-figure">

            <img src="../assets/images/restaurants/la-palette-du-gout.jpg" alt="">
            <div class="container">
                <div class="info">
                    <b>La palette du gout</b>
                    <p>Ménilmontant</p>

                </div>
                <i> coeur </i>
            </div>
        </div>
        <div class="restaurant-figure">

            <img src="../assets/images/restaurants/la-note-enchantee.jpg" alt="">
            <div class="container">
                <div class="info">
                    <b>La npte enchantée</b>
                    <p>Charonne</p>

                </div>
                <i> coeur </i>
            </div>
        </div>
        <div class="restaurant-figure">

            <img src="../assets/images/restaurants/a-la-francaise.jpg" alt="">
            <div class="container">
                <div class="info">
                    <b>A la française</b>
                    <p>Cité rouge</p>

                </div>
                <i> coeur </i>
            </div>
        </div>
        <div class="restaurant-figure">

            <img src="../assets/images/restaurants/le-delice-des-sens.jpg" alt="">
            <div class="container">
                <div class="info">
                    <b>Le délice des sens</b>
                    <p>Folie-Méricourt</p>

                </div>
                <i> coeur </i>
            </div>
        </div>

    </section>

    <footer>
        <h1>ohmyfood</h1>
        <ul>
            <li class="propose">
                <i>icon</i>
                <p>Proposer un restaurant</p>
            </li>
            <li class="become-popular">
                <i>icon</i>
                <p>Devenir partenaire</p>
            </li>
            <li class="legal">
                <p>Mentions légales</p>
            </li>
            <li class="contact">
                <p>Contact</p>
            </li>
        </ul>
    </footer>

    <div class="maquette">
        <img src="../assets/images/maquettes/Accueil.png" alt="maquette">
    </div>


</body>

</html>