<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/f3f35fcc4e.js" crossorigin="anonymous"></script>

    <title>Ohmyfood</title>
</head>

<body>
    <header class="header">
        <img class="logo" src="../assets/images/logos/ohmyfood@2x.svg" alt="ohmyfood-logo">

    </header>

    <section class="restaurant-figure">
        <img src="../assets/images/restaurants/la-palette-du-gout.jpg" alt="la pallette du gout">

    </section>




    <div class="selection">

        <div class="selection-head">

            <h1 class="selection-head-title">La palette du gout</h1>
            <i class="selection-head-icon fa fa-heart" aria-hidden="true"></i>

        </div>


        <section class="selection-starter">
            <h2 class="selection-title">
                ENTRÉES
            </h2>
            <div class="selection-underline"></div>
            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Fricassée d'escargots</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Au piment d'espelette</p>
                        <p class="dish-price">23 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>

            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Foie gras de cannard mi-cuit</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Et ses coppeaux de truffe noir</p>
                        <p class="dish-price">35 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>


            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Oeufs au plats</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Assaisonnée à la truffe sur lit..</p>
                        <p class="dish-price">20 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>


        </section>
        <section class="selection-dish">
            <h2 class="selection-title">
                PLATS
            </h2>
            <div class="selection-underline"></div>


            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Filet de boeuf aux herbes</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Accompagnée de sa ribambelle de légumes</p>
                        <p class="dish-price">40 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>


            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Parmentier de queue de boeuf</h3>
                    <div class="dish-details">
                        <p class="dish-detail">À la truffe noire sur sa purée de panais</p>
                        <p class="dish-price">35 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>


            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Filet de Turbot</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Aux agrumes</p>
                        <p class="dish-price">44 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>

        </section>
        <section class="selection-dessert">
            <h2 class="selection-title">
                DESSERTS
            </h2>
            <div class="selection-underline"></div>

            <div class="underline"></div>


            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Paris-Brest</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Revisité</p>
                        <p class="dish-price">18 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>

            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Macaron au chocolat d'exception</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Et glace à la vanille de Madagascar</p>
                        <p class="dish-price">22 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>

            <div class="dish">
                <div class="dish-infos">
                    <h3 class="dish-title">Mousse au chocolat</h3>
                    <div class="dish-details">
                        <p class="dish-detail">Au piment d'espelette et a la truffe noire</p>
                        <p class="dish-price">23 €</p>
                    </div>
                </div>

                <div class="dish-validate">
                    <i class="dish-validate-check">&#x2713;</i>
                </div>
            </div>

        </section>

        <a class="selection-btn" href="#">Commander</a>

        <footer class="footer">
            <img class="footer-logo" src="../assets/images/logos/ohmyfood@2x.svg" alt="ohmyfood-logo">


            <ul>
                <li class="footer-propose">
                    <i class="footer-propose-icon">&#x1f374;</i>
                    <p>Proposer un restaurant</p>
                </li>
                <li class="footer-become-popular">
                    <i class="footer-become-popular-icon fa-solid fa-handshake-angle">&#xf4c4;</i>
                    <p>Devenir partenaire</p>
                </li>
                <li class="footer-legal">
                    <p>Mentions légales</p>
                </li>
                <li class="footer-contact">
                    <p>Contact</p>
                </li>
            </ul>
        </footer>

    </div>





    <footer class="footer">
        <img class="footer-logo" src="../assets/images/logos/ohmyfood@2x.svg" alt="ohmyfood-logo">
        <!-- meme utilisation que les balise html -->

        <ul>
            <li class="footer-propose">
                <i class="footer-propose-icon">&#x1f374;</i>
                <p>Proposer un restaurant</p>
            </li>
            <li class="footer-become-popular">
                <i class="footer-become-popular-icon fa-solid fa-handshake-angle">&#xf4c4;</i>
                <p>Devenir partenaire</p>
            </li>
            <li class="footer-legal">
                <p>Mentions légales</p>
            </li>
            <li class="footer-contact">
                <p>Contact</p>
            </li>
        </ul>
    </footer>


    <div class="transition"></div>


    <div class="maquette">
        <img src="../assets/images/maquettes/green-validate.PNG" alt="maquette">
    </div>

    <div class="maquette">
        <img src="../assets/images/maquettes/Menu - La palette du goût.png" alt="maquette">
    </div>


</body>

</html>