<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/f3f35fcc4e.js" crossorigin="anonymous"></script>

    <title>Ohmyfood</title>
</head>

<body>
    <header>
        <img src="../assets/images/logos/ohmyfood.png" alt="ohmyfood-logo">

    </header>

    <section class="restaurant-figure">
        <img src="../assets/images/restaurants/la-palette-du-gout.jpg" alt="la pallette du gout">

    </section>




    <div class="selection">

        <div class="selection-head">

            <h1>La palette du gout</h1>
            <i class="fa fa-heart" aria-hidden="true"></i>


        </div>

        <section class="selection-part">
            <h2>
                Entrées
            </h2>
            <div class="starter">
                <h3>Fricassée d'escargots</h3>
                <div class="details">
                    <p>Au piment d'espelette</p>
                    <p>23 €</p>
                </div>
            </div>
            <div></div>
            <div></div>
        </section>
        <section class="dish"></section>
        <section class="dessert"></section>
    </div>
    <footer>
        <h1>ohmyfood</h1>
        <ul>
            <li class="propose">
                <i>icon</i>
                <p>Proposer un restaurant</p>
            </li>
            <li class="become-popular">
                <i>icon</i>
                <p>Devenir partenaire</p>
            </li>
            <li class="legal">
                <p>Mentions légales</p>
            </li>
            <li class="contact">
                <p>Contact</p>
            </li>
        </ul>
    </footer>

    <div class="maquette">
        <img src="../assets/images/maquettes/Accueil.png" alt="maquette">
    </div>


</body>

</html>