.footer {
    background-color: $primary-dark;
    color: $background-primary;
    padding-bottom: 10%;
    &-logo {
        width: 28%;
        margin: 6% 0 2% 4%;
        color: wheat;
    }
}

.footer-propose {
    margin: 2% 0 2% 0;
    display: flex;
    /**/
    &-icon {
        margin: 0 3% 0 3%;
    }
}

.footer-become-popular {
    display: flex;
    /**/
    &-icon {
        margin: 0 3% 0 3%;
    }
}

.footer-legal {
    margin: 2% 0 2% 3%;
}

.footer-contact {
    margin: 2% 0 2% 3%;
}

.transition {
    height: 200px;
    width: 100%;
    background-color: $background-primary;
    border: thin solid $test;
}