/* ====================== I N D E X =====================*/

html {
    width: 100%;
}

body {
    width: 100%;
    background-color: $background-primary;
    font-family: sans-serif;
}

#page {
    width: 100%;
    height: 100%;
}


/* =============== S E A R C H ==================== */

.search {
    width: 100%;
    height: 55px;
    display: flex;
    background-color: $background-secondary-heavy;
    align-items: center;
}

.search-input {
    display: flex;
    padding-left: 28%;
    width: 100%;
    .location {
        width: 26px;
    }
    .search {
        height: 100%;
        width: 100%;
        align-self: center;
        text-align: left;
        background-color: $background-secondary-heavy;
        font: $ovink;
        border: none;
        outline: none;
    }
}


/* =============== E X P L O R E ================= */

.explore {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-secondary;
    /**/
    &-title {
        width: 70%;
        font: $ovink;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /**/
    &-description {
        width: 90%;
        font: $ovink;
        color: #515151;
        margin-bottom: 20px;
    }
    /**/
    &-btn {
        height: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: center;
        border: thin solid $buttons;
        background-color: $buttons;
        color: $background-primary;
        border-radius: 35px 35px 35px 35px;
        margin-bottom: 30px;
    }
}


/* =============== O P E R A T I O N ============== */

.operation {
    height: auto;
    width: 100%;
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    /**/
    &-title {
        align-self: flex-start;
        font: $ovink;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 4%;
    }
}

.operation-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    .step-number {
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: $buttons;
        position: relative;
        margin-right: 30px;
    }
    .step-info {
        height: 70px;
        width: 90%;
        text-align: center;
        display: flex;
        align-items: center;
        background-color: $background-secondary;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 10px 10px;
    }
}


/* ================ R E S T A U R A N T ============ */

.restaurant {
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    /**/
    &-title {
        align-self: flex-start;
        font: $ovink;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 4%;
    }
}

.restaurant-card {
    height: 300px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card-figure {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 63%;
    border-radius: 20px 20px 0 0;
    box-shadow: 0.6em 0 .8em rgba(168, 164, 141, 0.2);
    align-items: center;
    /**/
    &-image {
        display: block;
        align-self: center;
        width: 100%;
        position: relative;
    }
}

.card-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 30%;
    background-color: $background-primary;
    border-radius: 0 0 20px 20px;
    box-shadow: 0.1em 0 .7em rgba(168, 164, 141, 0.2);
    &-icon {
        align-self: center;
    }
}