/* ====================== I N D E X =====================*/

html {
    width: 100%;
}

body {
    width: 100%;
    background-color: $background-primary;
    font-family: sans-serif;
}

#page {
    width: 100%;
    height: 100%;
}


/* =============== S E A R C H ==================== */

.search {
    width: 100%;
    height: 55px;
    display: flex;
    background-color: $background-secondary-heavy;
    align-items: center;
}

.search-input {
    display: flex;
    padding-left: 28%;
    width: 100%;
    align-items: center;
    .location {
        width: 26px;
    }
    .search {
        height: 100%;
        width: 100%;
        background-color: $background-secondary-heavy;
        font-family: $ovink;
        font-size: 1em;
        color: #404040;
        border: none;
        outline: none;
    }
}


/* =============== E X P L O R E ================= */

.explore {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-secondary;
    /**/
    &-title {
        width: 70%;
        margin-top: 12%;
        margin-bottom: 20px;
        font-family: $ovink-SB;
        font-size: 1.6em;
        font-weight: bold;
    }
    /**/
    &-description {
        width: 90%;
        font-family: $shrikhand;
        font-size: 1.2em;
        color: #515151;
        margin-bottom: 20px;
    }
    /**/
    &-btn {
        @include button;
        margin-bottom: 50px;
        margin-top: 25px;
    }
}


/* =============== O P E R A T I O N ============== */

.operation {
    height: auto;
    width: 100%;
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    /**/
    &-title {
        @include index-title;
    }
    &-icon {
        max-width: 5%;
        margin-left: 10%;
        margin-right: 6%;
        &:hover {
            color: $operation-number-color;
        }
    }
}

.operation-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.step-info {
    position: relative;
    height: 70px;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: $background-secondary;
    box-shadow: $box-shadow;
    border-radius: $rounded-border;
    /**/
    &-number {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $font-light;
        font-size: .8em;
        left: -11px;
        height: 22px;
        width: 22px;
        text-align: center;
        border-radius: 50%;
        background-color: $operation-number-color;
    }
    /**/
    &-content {
        font-family: $ovink-SB;
    }
    /**/
    &:hover {
        background-color: $step-info-hover;
    }
}


/* ================ R E S T A U R A N T ============ */

.restaurant {
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    /**/
    &-title {
        @include index-title;
    }
}

.restaurant-card {
    height: 300px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    color: black;
}

.card-figure {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 63%;
    border-radius: 20px 20px 0 0;
    box-shadow: $box-shadow;
    align-items: center;
    /**/
    &-image {
        display: block;
        align-self: center;
        width: 100%;
        position: relative;
    }
}

.card {
    /**/
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 100%;
        height: 30%;
        background-color: $background-primary;
        border-radius: 0 0 20px 20px;
        box-shadow: $box-shadow;
        /**/
        &-info {
            padding-left: 4%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /**/
            &-title {
                font-family: $ovink;
                font-size: 1.1em;
                padding-bottom: 3%;
            }
            /**/
            &-location {
                font-family: $ovink;
            }
        }
    }
    /**/
    &-icon {
        align-self: center;
        font-size: 3em;
        padding-right: 5%;
        cursor: pointer;
        &:hover {
            color: $buttons;
            font-weight: 900;
        }
    }
}