/* ================= M E N U ======================= */

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 50px 0 0;
    height: auto;
    background-color: $background-secondary;
    padding-bottom: 10%;
    .selection-head {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 5%;
        /**/
        &-title {
            font: $ovink;
            font-size: 1.5em;
            margin-left: 10%;
        }
        /**/
        &-icon {
            margin-right: 5%;
        }
    }
    /**/
    &-title {
        margin-left: 6%;
    }
    &-underline {
        margin-top: 1%;
        margin-left: 6%;
        max-width: 10%;
        min-height: 3px;
        background-color: $underline;
    }
    &-btn {
        @include button;
        margin-top: 10%;
        margin-right: 25%;
        margin-left: 25%;
        text-align: center;
    }
}

.dish {
    background-color: $background-primary;
    margin: 5%;
    padding: 3%;
    border-radius: 16px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    /**/
    &-title {
        padding-top: 5%;
        font: $ovink;
    }
    &-details {
        display: flex;
        justify-content: space-between;
        font: $ovink;
    }
    &:hover {
        transform: scale(1.15);
    }
}